article {
  flex-direction: column; }

.card-container {
  flex: 1;
  padding: 32px; }
  .card-container .category-list {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .card-container .category-list > .category-list-item {
      margin-bottom: -8px; }
    .card-container .category-list .category-list-item {
      position: relative;
      padding: 8px; }
      .card-container .category-list .category-list-item:after {
        content: '';
        display: block;
        clear: both; }
      .card-container .category-list .category-list-item .category-list-link, .card-container .category-list .category-list-item .category-list-count {
        float: left; }
      .card-container .category-list .category-list-item .category-list-child {
        margin-left: 16px;
        margin-top: 8px; }
        .card-container .category-list .category-list-item .category-list-child:before {
          content: '';
          padding-top: 8px;
          display: block;
          clear: both; }
      .card-container .category-list .category-list-item span {
        display: block; }
        .card-container .category-list .category-list-item span.post-title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 8px; }
        .card-container .category-list .category-list-item span.post-subtitle {
          font-size: 14px; }
    .card-container .category-list .category-list-count {
      margin: 0 1em;
      padding: 1px 10px;
      border-radius: 10px;
      background: var(--third-bg-color); }
